@import './theme';

body {
  background-color: $primary;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
