@import '~@angular/material/theming';
@import './fluid';

@include mat-core();

$primary: mat-palette($mat-cyan, 900);
$accent:  mat-palette($mat-blue-gray);
$theme:   mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

[class^=mat-button] mat-icon {
  margin-top: -2px;
}

html {
  @include fluid(16px, 20px, 320px, 1200px);
}

body {
  background-color: gray;
  font-family: Montserrat, sans-serif;
  font-display: fallback;
  margin: 0;
}

.mat-raised-button {
  font-size: 0.8rem;
}

.primary,
.mat-raised-button.primary {
  background-color: white;
  color: mat-color($primary, default);
  color: #2a5b81;
  color: #988f76;
}

.background-green {
  background-color: mat-color($primary, default);
  background-color: #2a5b81;
  background-color: #988f76;
  // box-shadow: 0 0 10px 2px #aaa;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
