<svo-load-image class="background" src="/assets/images/cover.png" srcset="" srcThumb="/thumbs/cover.png"></svo-load-image>

<section class="header">
  <div class="title">
    <h1>Steve Van Opstal</h1>
    <p>Takes care of all your programming needs</p>
  </div>


  <img class="face" src="/assets/images/face.png" />

  <!-- <h1>Proficiency in:</h1> -->

  <!-- <h2>
    Things I like and would like to do more of
    <span>Flutter</span>
    <span>frontend ML</span>
    <span>Web Components</span>
    <span>Web Workers</span>
    <span>WebAssembly</span>
    <span>CQRS/Redux</span>
    <span>UX</span>
    <span>Microservices</span>
    <span>NoSQL</span>
  </h2> -->

</section>

<section class="tech">
  <p>speaks fluent</p>
  <h2 class="tags">
    <span>Angular</span>
    <span>Vue</span>
    <span>RxJS</span>
    <span>NGXS</span>
    <span>JavaScript</span>
    <span>TypeScript</span>
    <span>HTML 5</span>
    <span>CSS 3</span>
    <span>Sass</span>
    <span>Docker</span>
    <span>Kubernetes</span>
    <span>NGINX</span>
    <span>Java</span>
    <span>C/C++</span>
    <span>Python</span>
  </h2>
</section>

<section class="experience">
  <h3>Experience</h3>
  <div class="cards">
    <div class="card background-green">
      <img src="/assets/images/aztrix.png" />
      <h3>Aztrix*</h3>
      <h4 class="tags">
        <span>Angular</span>
        <span>Java</span>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="card background-green">
      <img src="/assets/images/basf.jpg" />
      <h3>BASF - Crop Design</h3>
      <h4 class="tags">
        <span>Angular</span>
        <span>Node.js</span>
        <span>Java</span>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="card background-green">
      <img src="/assets/images/ometa.png" />
      <h3>Ometa</h3>
      <h4 class="tags">
        <span>Angular.js</span>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="card">
      <img src="/assets/images/qipc.png" />
      <h3>Q.I. Press Controls</h3>
      <h4 class="tags">
        <span>C++</span>
      </h4>
      <p></p>
    </div>
    <div class="card">
      <img src="/assets/images/schwann.png" />
      <h3>Schwann</h3>
      <h4 class="tags">
        <span>PHP</span>
        <span>Drupal</span>
        <span>Drupal</span>
      </h4>
      <p></p>
    </div>
  </div>
</section>
