@import "../../fluid";
@import "../../theme";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.background,
.header,
.title {
  height: 40vh;
  min-height: 300px;
  max-height: 450px;
}

.background {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  color: white;
  text-shadow: 0 0 10px #000000b5, 0 0 10px #000000b5;
}

.title {
  margin: 0 auto;
}

.face {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transform: translate(0, -90%);
  border: 10px solid;
  border-radius: 50%;
}

h1 {
  padding-top: 3rem;
  margin-bottom: 1rem;

  @include fluid(32px, 48px, 320px, 1024px) using ($value) {
    font-size: $value;
  }
}

h2 {
  font-size: 1.5rem;

  @include fluid(24px, 32px, 320px, 1024px) using ($value) {
    font-size: $value;
  }
}

h3 {
  font-size: 1.2rem;

  @include fluid(18px, 24px, 320px, 1024px) using ($value) {
    font-size: $value;
  }
}

p {
  font-size: 1rem;

  @include fluid(14px, 18px, 320px, 1024px) using ($value) {
    font-size: $value;
  }
}

.tech {
  background-color: white;
  padding: 6rem;
  color: $primary;
}

.experience {
  margin-top: 10px;
}

.cards {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) [last-col] 0px;
  grid-template-rows: auto [last-line];
  margin: 1rem auto;
  padding: 2rem;
  width: 80vw;
  max-width: 980px;
  margin-right: -4px;

  .card {
    border-right: 2px solid;
    padding: 0 2rem;
    margin: 2rem 0;
  }

  .filler {
    grid-column: last-col / span 1;
    grid-row: 1 / last-line;
    grid-row-start: span 9000;
    border-left: 4px solid $primary;
    margin-left: -3px;
  }
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 550px;
  margin: 0 auto;

  span {
    white-space: nowrap;
    margin: 0 10px;

    &:last-child:after{
      content: initial;
    }

    &:after {
      content: '-';
      margin-left: 1.2rem;
    }
  }
}

.dokter {
  margin: 1rem;
}

.address {
  margin: .25rem;
}

.options {
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover {
  height: 100%;
}

.fax {
  margin: .5rem;
  font-size: 0.8rem;
}

img {
  background-color: white;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  object-fit: contain;
}
