<svo-load-image class="background" src="/assets/images/cover.png" srcset="" srcThumb="/thumbs/cover.png" alt="island by the sea"></svo-load-image>

<section class="header">
  <div class="title">
    <h1>Steve Van Opstal</h1>
    <p>Takes care of all your programming needs</p>
  </div>
  <img class="face" src="/assets/images/face.png" />
</section>

<section class="tech">
  <p>Fluent in</p>
  <h2 class="tags">
    <span>Angular</span>
    <span>Vue</span>
    <span>RxJS</span>
    <span>NGXS</span>
    <span>JavaScript</span>
    <span>TypeScript</span>
    <span>HTML 5</span>
    <span>CSS 3</span>
    <span>Sass</span>
    <span>Docker</span>
    <span>Kubernetes</span>
    <span>NGINX</span>
    <span>Java</span>
    <span>C/C++</span>
    <span>Python</span>
  </h2>
</section>

<section class="experience">
  <h3>Experience</h3>
  <div class="cards">
    <div class="card">
      <img src="/assets/images/aztrix.png" />
      <h3>Aztrix*</h3>
      <h4 class="tags">
        <span>Angular</span>
        <span>Java</span>
      </h4>
      <p>Smart address book for individuals and organisations, respecting privacy.</p>
    </div>
    <div class="card">
      <img src="/assets/images/basf.png" />
      <h3>BASF - Crop Design</h3>
      <h4 class="tags">
        <span>Angular</span>
        <span>Node.js</span>
        <span>Java</span>
      </h4>
      <p>Development on the BASF bioscience internal AppStore and bioscience related apps.</p>
    </div>
    <div class="card">
      <img src="/assets/images/ometa.png" />
      <h3>Ometa</h3>
      <h4 class="tags">
        <span>Angular.js</span>
      </h4>
      <p></p>
    </div>
    <div class="card">
      <img src="/assets/images/qipc.png" />
      <h3>Q.I. Press Controls</h3>
      <h4 class="tags">
        <span>C++</span>
      </h4>
      <p>Development of closed loop control systems for industrial printing presses.</p>
    </div>
    <div class="card">
      <img src="/assets/images/tokheim.png" />
      <h3>Tokheim</h3>
      <h4 class="tags">
        <span>C++</span>
      </h4>
      <p>Development and maintenance on the OASE system. OASE (Online Authorization Server Environment) receives and processes roughly 32 million transactions a month for more than 20,000 fuel stations in 33 countries.</p>
    </div>
    <div class="card">
      <img src="/assets/images/schwann.png" />
      <h3>Schwann</h3>
      <h4 class="tags">
        <span>UX</span>
        <span>PHP</span>
        <span>Drupal</span>
      </h4>
      <p>tui.cn</p>
    </div>
    <div class="filler"></div>
  </div>
</section>

<!-- <h2>
  Things I like and would like to do more of
  <span>Flutter</span>
  <span>frontend ML</span>
  <span>Web Components</span>
  <span>Web Workers</span>
  <span>WebAssembly</span>
  <span>CQRS/Redux</span>
  <span>UX</span>
  <span>Microservices</span>
  <span>NoSQL</span>
</h2> -->
